<configuration>
	<system.web>
		<compilation defaultLanguage="C#" debug="true">
			<compilers>
				<compiler language="C#" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,system, Version=1.0.5000.0,  Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			</compilers>
		</compilation>
		<customErrors defaultRedirect="errores/error.html" mode="On">
			<error statusCode="404" redirect="errores/nofound.html"/>
		</customErrors>
		<pages buffer="true" enableSessionState="true" autoEventWireup="true"/>
		<sessionState mode="InProc" timeout="5"/>
	</system.web>
</configuration>
